{% extends 'base.html.twig' %}

{% block title %}YouGame{% endblock %}

{% block body %}
    <div class="content">
        <h1>Accueil</h1>

        <h3>Nos jeux</h3>
        <ul>
            {% for game in games %}
                <li class="li-list list-game">
                    <a class="game-link-title" href="{{ path("show_game", {id: game.id })}}">{{ game.title }}</a> (
                    {% for platform in game.platforms %}
                        {{ platform.getName }}
                    {% endfor %})
                    : {{ game.releaseDate|date('d M Y') }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
