{% extends 'base.html.twig' %}

{% block title %}YouGame{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <h3>Jeux disponible</h3>
    <ul>
        {% for game in games %}
            <li>{{ game.title }} (
                {% for platform in game.platforms %}
                    {{ platform.getName }}
                {% endfor %}) : <br/>
                {{ game.description }} <br/> {{ game.releaseDate|date('d M Y') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
