{% extends 'base.html.twig' %}

{% block title %}YouGame - Editor{% endblock %}

{% block body %}
        <div>   
            <h1>Editeurs</h1>
            <ul>
                {% for editor in editorList %}
                    {{ editor.society }} -  {{ editor.nationality }} <br />
                {% endfor %}
            </ul>
            <a href="{{ path('create_editor') }}">Créer un nouvel editeur</a>
        </div>

{% endblock %}